.a{
    display: inline-block;
    border: 2px solid black;
    background-color:darkcyan;
    text-align: center;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;

}
.logo1{
    border: 2px solid black;
    float: left;

}
.logo2{
    border: 2px solid black;
    float: right;
}
.name{
    color:darkred;
    display: inline-block;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    border: 2px solid black;
    background-color: lightslategray;
    width: 100%;
    padding: 10px;
    margin: initial;
    font-family: 'Times New Roman', Times, serif;
}
a{
    padding: 65px;
    text-transform: uppercase;
}